<div class="row">
  <div class="col-sm">
    <label><b>Nome:</b></label>
    <input class="form-control" type="text" name="name" value="<%= city.name %>">
  </div>
  <div class="col-sm">
    <label><b>Estado:</b></label>
    <input class="form-control" type="text" name="state" value="<%= city.state %>">
  </div>
</div>